<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stallion.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @stallion.age %>
</p>

<p>
  <strong>Color:</strong>
  <%= @stallion.color %>
</p>

<p>
  <strong>Registry tattoo:</strong>
  <%= @stallion.registry_tattoo %>
</p>

<p>
  <strong>Stud fee:</strong>
  <%= @stallion.stud_fee %>
</p>

<p>
  <strong>Stakes winner progeny:</strong>
  <%= @stallion.stakes_winner_progeny %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @stallion.img_url %>
</p>

<p>
  <strong>Link to pedigree url:</strong>
  <%= @stallion.link_to_pedigree_url %>
</p>

<%= link_to 'Edit', edit_stallion_path(@stallion) %> |
<%= link_to 'Back', stallions_path %>
